.about {
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  position: relative;
}
.about h1 {
  position: absolute;
  top: 97px;
}
.brosche {
  width: 450px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
