#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: black;
  color: aliceblue;
}
.darkmode {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs {
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: gray;
}
.light-background {
  background-color: white;
  color: black;
}
